<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
        Smart Traffic
    </title>

    <meta content="smart traffic" name="description" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/all.css') }}" /> 

    <link rel="stylesheet" href="{{url_for('static', filename='css/circular-std.css') }}" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/helper.css') }}"> 

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" /> 
</head>

<body>
    <!-- <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div> -->
    <div class="loading">
        <div class="traffic-lights shape">
            <div class="shadow"></div>
            <div class="light red"></div>
            <div class="light amber"></div>
            <div class="light green"></div>
          </div>
    </div>
    <header>
        <div class="nav-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#">
                                <!-- <img src="images/logo1.png" alt="#" /> -->
                                <b>Smart Traffic </b>
                            </a>
                            <button class="navbar-toggler navbar-toggler_second" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{{ url_for('index')}}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{{ url_for('demo')}}">Demo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{{ url_for('about')}}">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{{ url_for('contact')}}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-title__alt header__bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="main-banner_md">
                            <img src="{{url_for('static', filename='images/Pedestrian-crossing.svg') }}" class="img-fluid" alt="#" /> 
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="hero-title text-center text-md-left">
                            <h1>
                                Traffic<br />
                                made easy.
                            </h1>
                            <p>Hello, We are Smart Traffic</p>

                            <div class="add-btn pricing-btn_wrap">
                                <a href="#" class="btn btn-success">Get Started</a>
                            </div>
                            <div class="add-btn pricing-btn_wrap ml-2">
                                <a href="#" data-toggle="modal" data-target="#contactmodal" class="btn btn-success">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-style d-none d-md-block">
                <img src="{{url_for('static', filename='images/bg-1.png') }}" class="img-fluid" alt="#" /> 
            </div>
        </div>

        <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog" aria-labelledby=""
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <form class="quote-form"
                            action="" method="post">
                            <h5 class="text-center mt-3 mb-4">Contact us today!</h5>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="first_name" name="first_name"
                                            placeholder="First Name*" required />
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="last_name" name="last_name"
                                            placeholder="Last Name*" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Email Address*" required />
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="pac-input" cols="30" rows="6" class="form-control" placeholder="Message*"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success w-100" id="js-contact-btn">
                                <strong> Send Message </strong>
                            </button>
                            <div id="js-contact-result" data-success-msg="Success, We will get back to you soon"
                                data-error-msg="Oops! Something went wrong"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="space bg-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-title">
                            <h2>A new take on Traffic</h2>
                            <p>Great for individuals and business</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-7 ml-auto">
                        <div class="traffic-title_wrap traffic-title_wrap2">
                            <div class="traffic-type d-flex align-items-center">
                                <img src="{{url_for('static', filename='images/tick.png') }}" alt="#" /> 
                                <div class="traffic-type_title">
                                    <h6>Comprehensive traffic</h6>
                                    <p>
                                        Dynamically repurpose e-business users rather than
                                        granular products.
                                    </p>
                                </div>
                            </div>
                            <div class="traffic-type d-flex align-items-center">
                                <img src="{{url_for('static', filename='images/tick.png') }}" alt="#" /> 
                                <div class="traffic-type_title">
                                    <h6>Support is just a call away</h6>
                                    <p>
                                        Rapidiously customize value-added platforms compliant
                                        action items.
                                    </p>
                                </div>
                            </div>
                            <div class="traffic-type d-flex align-items-center">
                                <img src="{{url_for('static', filename='images/tick.png') }}" alt="#" />
                                <div class="traffic-type_title">
                                    <h6>Say goodbye to paperwork.</h6>
                                    <p>
                                        Globally deliver economically sound communities
                                        relationships.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-img-3">
                <img src="{{url_for('static', filename='images/City-driver.svg') }}" width="680" class="img-fluid" alt="#" /> 
            </div>
            <div class="bg-style2">
                <img src="{{url_for('static', filename='images/bg-2.png') }}" class="img-fluid" alt="#" /> 
            </div>
        </div>
    </header>

    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-title">
                        <h2>How It Works</h2>
                        <p>Easy as One, Two, Three</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="item-box howit-block">
                        <div class="item-icon color1">
                            <span>1</span>
                        </div>
                        <h6>Step 1</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                            quis nunc vitae velit rutrum suscipit non et eros.
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="item-box howit-block_af">
                        <div class="item-icon color2">
                            <span>2</span>
                        </div>
                        <h6>Step 2</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                            quis nunc vitae velit rutrum suscipit non et eros.
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="item-box">
                        <div class="item-icon color3">
                            <span>3</span>
                        </div>
                        <h6>Step 3</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                            quis nunc vitae velit rutrum suscipit non et eros.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center">
                    <a href="/demo.html" class="btn btn-success px-5 ">Try the Demo</a> 
                </div>
            </div>
        </div>
    </section>

    <section class="add-section clearfix collapse-wrap mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="add-box">
                        <img src="{{url_for('static', filename='images/shield-green.svg') }}" class="img-fluid shield" alt="#" /> 
                        <div class="add-content">
                            <h3>traffic made easy</h3>
                            <p>
                                At smart traffic, we are committed to provide top-notch services to
                                our customers.
                            </p>
                        </div>
                        <div class="add-btn">
                            <a href="#" data-toggle="modal" data-target="#contactmodal" class="btn btn-success">Contact us today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-title">
                        <h6>ADDRESS</h6>
                        <p>
                            400-401 West Georgia Street<br />
                            Vancouver, BC, Canada, V6B 5A1<br />
                            +1 (123) 456 7890<br />
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-title">
                        <h6>FOLLOW US</h6>
                        <ul>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-title">
                        <h6>FOLLOW US</h6>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus natus dolore, sapiente
                            quidem nesciunt commodi?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2022. Smart Traffic</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{url_for('static', filename='js/validate.js') }}"></script> 
    <script src="{{url_for('static', filename='js/custom.js') }}"></script> 
</body>


</html>